* {
  margin: 0;
}

body{
  background-color: rgb(24, 20, 20);
  color: white;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;

}

.app__select {
  color:white!important;
}

.app__left {
    flex: 0.8;
}

.app__right {
  background-color: #181A1B!important;
  color: rgba(232, 230, 227, 0.87) !important;
}

.app__right h3 {
  margin: 1rem;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;

}


@media (max-width: 990px){
    .app{
        flex-direction: column;
    }
}